.app{
  display: grid;
  grid-template-columns:13fr 25fr;
  height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}
.left{
  height: 100%; 
  background-image: url(./assets/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;
  padding: 0 2rem;
}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}



@media only screen and (max-width: 600px) {
  .app{
      display: grid;
      grid-template-columns: 1fr;

      gap: .5rem;
      max-width: 100vw;
      min-height: 100vh;
  }
  .left{
    background-image: url(./assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: contain
    cover;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
}
